<div class="center" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
  <div class="body"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="welcome-message col-md-6">
      <div style="display: block">
        <h4 class="welcome-font" style="font-size: 28px;">{{ welcomeData.tagline }}</h4>
        <h4 style="color: rgb(40, 174, 228);" *ngIf="translate">{{ welcomeData.taglineTranslate }}</h4>
        <h4>{{ welcomeData.dateRange }}</h4>
      </div>
      <hr style="border: 1px solid #081359; font-size: 24px;">
      <div style="display: block;">
        <p>{{ welcomeData.paragraph1 }}</p>
      </div>
      <div style="display: block">
        <p>{{ welcomeData.paragraph2 }}</p>
      </div>
      <div style="display: block">
        <p>{{ welcomeData.paragraph3 }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <hr style="border: 1px solid #081359; width: 100%" class="welcome-hr">
      <div style="width:310px;" class="mx-auto mt-4">
        <div class="welcome-weather-center">
          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid #081359;">
  <div class="welcome-bottom">
    <h4 class="welcome-font">Enjoying your retreat experience?</h4>
    <div class="d-none d-md-block">
      <p>Check out our <a [href]="aboveYogaUrl" target="_blank">upcoming retreats</a>. </p>
      <!--        or <a-->
      <!--        [href]="facebookUrl" target="_blank">leave us a review</a>.</p>-->
    </div>
    <div class="d-block d-sm-none">
      <p>Check out our <a [href]="aboveYogaUrl" target="_blank">upcoming retreats</a>. </p>
      <!--        or <a-->
      <!--        [href]="facebookUrl" target="_blank">leave us a review</a>.</p>-->
    </div>
  </div>
</div>
