.center {
  text-align: center;
}

.carousel-box {
  width: 310px;
  height: 370px;
  border-radius: 10px;
}

.provideSkeleton {
  width: 310px;
  height: 370px;
}

.middle {
  padding-top: 45%;
}

.raised-box {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

ngb-carousel:focus {
  outline: none;
}

.map {
  height: 370px;
  width: 100%;
  border-radius: 10px;
}

